footer {
  background-color: var(--secondary-color);
  position: relative;
  height: 390px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

#footerDecoRight {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#footerDecoRight line {
  stroke: var(--main-color);
  stroke-width: 3;
}

#footerDecoRight line:nth-child(1) {
  stroke-width: 4;
}

#footerDecoLeft {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

#footerDecoLeft line {
  stroke: var(--main-color);
  stroke-width: 3;
}

#footerDecoLeft line:nth-child(1) {
  stroke-width: 4;
}

.footerFooter {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 2rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.footerFooter svg path {
  fill: var(--secondary-color);
}

.footerContentPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerlink {
  display: flex;
  flex-direction: column;
}

.footerContentPages a {
  color: var(--main-color);
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5rem;
  width: fit-content;
  transition: text-decoration-color 0.1s ease-in-out;
}

.footerContentPages a:hover {
  text-decoration-color: var(--accent-color);
}

.footerContentMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  /* flex: 1; */
  /* border-right: 0.3rem solid var(--main-color); */
  /* border-left: 0.3rem solid var(--main-color); */
  /* padding-left: 10rem; */
}

.footerContentMiddle h2 {
  font-size: 8rem;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color) !important;
}

.footerContactinformation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.footerContactinformation a {
  color: var(--main-color);
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  transition: color 0.1s ease-in-out;
}

#github-icon,
#linkedin-icon,
#tel-icon,
#mail-icon {
  width: 32px;
  height: 32px;
}

#github-icon path,
#linkedin-icon path,
#tel-icon path,
#mail-icon path {
  fill: var(--main-color);
}

.footerContactinformation a:hover svg path {
  fill: var(--accent-color) !important;
}

.footerContactinformation a:hover svg {
  scale: 1.1;
}

.footerContentNewsLetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.footerContentNewsLetter h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

#email {
  background-color: #fff;
  border-radius: 10px;
  color: var(--main-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 260px;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

#email::placeholder {
  color: var(--main-color);
}

#email:focus,
#email:active {
  outline: 2px solid var(--accent-color);
}

#subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 45px;
  background-color: var(--main-color);
  border-radius: 4px;
  color: var(--secondary-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.3rem;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

#subscribeDecoLeft {
  align-self: flex-start;
  transition: all 0.1s ease-in-out;
}

#subscribeDecoRight {
  align-self: flex-end;
  transition: all 0.1s ease-in-out;
}

#subscribe:hover #subscribeDecoLeft,
#subscribe:hover #subscribeDecoRight {
  filter: invert(62%) sepia(76%) saturate(468%) hue-rotate(124deg)
    brightness(90%) contrast(85%);
}

#subscribe:hover {
  color: var(--accent-color);
  cursor: pointer;
}
