:root {
  /* Fonts */
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  /* Colors - Dark Theme */
  --bg-color-dark: #1c2020;
  --light-bg-color-dark: #252a2a;
  --h1-color-dark: #c5dddd;
  --text-color-dark: #a3bdbd;
  --sub-text-color-dark: #7a8c8c;
  --dark-text-color-dark: #5c6e6e;
  --accent-color-dark: #00e3e3;
  --selecttion-color-dark: #02b3b3;

  /* Colors - Light Theme */
  --bg-color-light: #f5f5f5;
  --h1-color-light: #333333;
  --text-color-light: #4f4f4f;
  --sub-text-color-light: #6b6b6b;
  --accent-color-light: #007b7b;

  /* Font Sizes */
  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 18px;
  --text-font-size: 16px;

  --social-color-transition-duration: 0.5s;

  --relaxed-line-height: 1.6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-jetbrains-mono);
  color: var(--text-color-dark);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-dark);
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: var(--relaxed-line-height);
}

a {
  text-decoration: none;
  font-family: var(--font-jetbrains-mono);
  color: var(--text-color-dark);
}

.highlight {
  color: var(--accent-color-dark);
}

.italic {
  font-style: italic;
}

::selection {
  background: var(--selecttion-color-dark);
  color: var(--accent-color-dark);
}

::-moz-selection {
  background: var(--selecttion-color-dark);
  color: var(--accent-color-dark);
}

main {
  /* background-color: red; */
  width: 1440px;
  height: 100%;
  padding: 0 80px;
}

section {
  margin-top: 160px;
}

nav {
  position: fixed;
  width: 1440px;
  height: 80px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-jetbrains-mono);
  font-size: var(--text-font-size);
  color: var(--h1-color-dark);
  font-weight: 500;
  mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(10px);
}

nav a,
nav div a {
  transition: all var(--social-color-transition-duration) ease;
}

nav div a:hover,
nav a:hover {
  color: var(--accent-color);
  background-color: #566060;
}

nav div {
  display: flex;
  gap: 30px;
}

footer {
  margin-top: 160px;
  width: 100%;
  color: #c5dddd;
  font-family: var(--font-jetbrains-mono);
}

footer h4 {
  font-size: 20px;
}

.footer-big-text {
  font-size: 160px;
  color: #323838;
  margin-top: -40px;
  transition: color var(--social-color-transition-duration);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 8px;
  transition: color var(--social-color-transition-duration);
}

.footer-social svg {
  color: #c5dddd;
  fill: #c5dddd;
  transition: fill var(--social-color-transition-duration);
}

.footer-social:hover {
  color: var(--accent-color-dark);
}

.footer-social:hover svg {
  fill: var(--accent-color-dark);
}

.footer-big-text:hover {
  color: #475050;
}
